h1 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-size: 18px;
	font-family: 'Gentium Basic', serif;
  margin-bottom: 20px;
  line-height: 30px;
}

a {
	font-family: 'Gentium Basic', serif;
}

img {
  margin-bottom: 8vh;
}

.container-fluid {
	background-color: #FFFFFF;
}

.vertical-align {
    display: flex;
    align-items: center;
}